* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 62.5%;
}
body h1 {
	padding: 4rem;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.container {
	height: 40rem;
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.list-container {
	padding: 1.5rem 0;
	left: 0;
}
.list-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 1rem;
}
.lists {
	list-style: none;
    max-height: 200px;
    overflow:auto;
}
.lists::-webkit-scrollbar{
    display:none;
}
.lists li {
	padding: 0.3rem 0.4rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.lists li.active{
	color:blue;
}
.list-form {
	margin-top: 0.5rem;
}
.list-form input {
	border: none;
	outline: none;
	background-color: #f7f7f7;
	border-bottom: 1px solid #333;
	height: 1.4rem;
	
}

.list-btn {
	border: none;
	margin-right: 0.5rem;
	height: 1.4rem;
	font-size: 1.6rem;
}

.task-container {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 33rem;
	position: relative;
}
.task-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 1rem 1rem;
}
.task-form {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.task-form input {
	width:86%;
	margin: 0 0.8rem;
	outline: none;
	height: 2rem;
    margin-bottom: 1rem;
    border:3px solid black;
    border-radius:10px;
 text-indent: 1rem;
    
}
.task-btn {
	border: none;
	margin-left: 0.5rem;
	height: 2rem;
	font-size: 2rem;
    transform: translate(-5px,5px);
}

.delete-tasks{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    
}
.clearalltasks,.clearlist{
border:none;
cursor:pointer;
font-size: 1rem;
}
.tasks{
    
   max-height: 20rem;
    margin-bottom:4rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.tasks::-webkit-scrollbar{
    display: none;
}
.task{
display: flex;
font-size: 1.4rem;
margin:.7rem .3rem;
}
p{
    margin-left:1rem;
}

.task input{
    height: 1rem;
    margin-left:.5rem;
   
}

input[type=checkbox]:checked + label p{
  
    text-decoration: line-through;
}

